<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Datos</servlet-name>
        <servlet-class>CONTROLADOR.Datos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registros</servlet-name>
        <servlet-class>CONTROLADOR.Registros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Persona</servlet-name>
        <servlet-class>MODELO.Persona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>COOKIE</servlet-name>
        <servlet-class>CONTROLADOR.COOKIE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cookies</servlet-name>
        <servlet-class>CONTROLADOR.Cookies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Datos</servlet-name>
        <url-pattern>/Datos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registros</servlet-name>
        <url-pattern>/Registros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Persona</servlet-name>
        <url-pattern>/Persona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>COOKIE</servlet-name>
        <url-pattern>/COOKIE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookies</servlet-name>
        <url-pattern>/Cookies</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            0
        </session-timeout>
    </session-config>
</web-app>
